@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    background:linear-gradient(315deg, #600b87,#a34f8b);
    display:flex;
    justify-content: center;
    align-items: center;
}

.box{
    width:174px;
    height:174px;
    border:2px solid black;
    background-color:white;
    margin:0 10px;
}

.target{
    width:100%;
    height:100%;
}

.hon{
    background:url("avatar3.jpg") no-repeat center / cover;
}

.minh{
    background:url("avatar2.jpg") no-repeat center / cover;
}